.custom-pagination {
  position: absolute;
  width: 530px;
  height: 530px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  top: 50%;
  left: 50%;
  z-index: 2;
}

@media (max-width: $bp-tablet-lg) {
  .custom-pagination {
    width: 285px;
    height: 285px;
  }
}

@media (max-width: $bp-tablet) {
  .custom-pagination {
    display: none;
  }
}
