@mixin button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00000050;
  background-color: #fff;
}

.resize {
  height: 3px;
  cursor: row-resize;
  background-color: #ccc;
}

.open-editor {
  @include button;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.editor-buttons-wrapper {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  .close-editor,
  .save-editor {
    @include button;
  }
}

.editor-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
}
