*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
}

button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}
