.circle-item {
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #303e5850;
  .title {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 40px), -50%);
    color: #42567a;
    font-weight: bold;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: $bp-tablet-lg) {
  .circle-item {
    .title {
      transform: translate(calc(100% + 20px), -50%);
    }
  }
}
